

.container1{
    position: fixed;
    height: 80px;
    width: 102%;
    background: rgb(80, 80, 218);
    display: flex;
    justify-content: space-around;

}
.logo{
    color: rgb(240, 232, 232);
    display:flex;
    align-items: baseline;
}

.links{
    display: flex;
    align-items: center;
}
.links ul li {
    font-size: 18px;
    list-style: none;
    margin-right: 30px;
    color: rgb(240, 232, 232);
    font-weight: 500;
}
.links ul li:hover {
    font-size: 18px;
    color: rgb(247, 138, 138);
    border-bottom: 1px solid rgb(247, 138, 138);
}